Repository PlanLX/planl-backup-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dockerfile, check-yaml-syntax, check-json-syntax, check-markdown

check-dockerfile:
  name: Check Dockerfile syntax
  entry: docker
  args:
  - build
  - --dry-run
  language: system

check-yaml-syntax:
  name: Check YAML syntax
  entry: python -c "import yaml; yaml.safe_load(open('{}'))"
  language: python

check-json-syntax:
  name: Check JSON syntax
  entry: python -c "import json; json.load(open('{}'))"
  language: python

check-markdown:
  name: Check Markdown syntax
  entry: markdownlint
  language: system
  args:
  - --fix

update readme
  README.md
Due: check-markdown

update tests
  .github/workflows/tests.yml
Due: check-yaml-syntax

ruff format
  elasticsearch/pyproject.toml
  elasticsearch/snapshot.py
  elasticsearch/src/cli/__init__.py
  elasticsearch/src/cli/main.py
  elasticsearch/src/core/__init__.py
  elasticsearch/src/core/restore.py
  elasticsearch/src/core/rotation.py
  elasticsearch/src/core/snapshot.py
  elasticsearch/src/models/__init__.py
  elasticsearch/src/models/config.py
  elasticsearch/src/utils/__init__.py
  elasticsearch/src/utils/config_loader.py
  elasticsearch/src/utils/logging.py
Due: none

简化工作流配置
  .github/workflows/tests.yml
Due: check-yaml-syntax

test
  .github/workflows/docker-build.yml
  README.md
  docs/docker-workflow.md
  docs/workflow-summary.md
  mongodb/Dockerfile
  mongodb/main.py
  mongodb/pyproject.toml
  mongodb/src/__init__.py
  mongodb/src/cli/__init__.py
  mongodb/src/cli/main.py
  mysql/Dockerfile
  mysql/main.py
  mysql/pyproject.toml
  mysql/src/__init__.py
  mysql/src/cli/__init__.py
  mysql/src/cli/main.py
  postgresql/Dockerfile
  postgresql/main.py
  postgresql/pyproject.toml
  postgresql/src/__init__.py
  postgresql/src/cli/__init__.py
  postgresql/src/cli/main.py
Due: check-dockerfile, check-yaml-syntax, check-markdown

更新 GitHub Actions 工作流，移除类型检查和测试步骤，
  .github/workflows/tests.yml
Due: check-yaml-syntax

优化 Dockerfile，调整基础镜像和依赖安装方式
  elasticsearch/Dockerfile
Due: check-dockerfile

fix
  .github/workflows/docker-build.yml
Due: check-yaml-syntax

test build
  elasticsearch/snapshot.py
Due: none

token
  .github/workflows/docker-build.yml
Due: check-yaml-syntax

text
  elasticsearch/main.py
Due: none

update snapshotconfig
  elasticsearch/Dockerfile
  elasticsearch/src/models/config.py
Due: check-dockerfile

update actions/upload-artifact@v4
  .github/workflows/tests.yml
Due: check-yaml-syntax

fix timeout
  elasticsearch/src/models/config.py
Due: none

update
  elasticsearch/__main__.py
  elasticsearch/src/core/restore.py
  elasticsearch/src/core/rotation.py
  elasticsearch/src/models/config.py
  elasticsearch/tests/conftest.py
  elasticsearch/tests/test_core_restore.py
  elasticsearch/tests/test_core_rotation.py
  elasticsearch/tests/test_core_snapshot.py
  pytest.ini
Due: none

Path conditions:
  check-dockerfile: any of: \.dockerfile$|Dockerfile$
  check-yaml-syntax: any of: \.ya?ml$
  check-json-syntax: any of: \.json$
  check-markdown: any of: \.md$
